<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Shop with us</h4>
                        <p class="card-category">Calculatae you price here...</p>
                    </div>
                    <div class="card-body">
                        <form #cartForm="ngForm">

                            <div class="row">
                                <div class="col-md-6">

                                    <mat-form-field class="example-full-width">
                                        Penguin-ears -          <input matInput placeholder="No Of Items" type="text" name="noofitems1"
                                               [(ngModel)]="cartItems1.numberOfSingleUnits" #Noofitems1="ngModel"> ( 20 units in a carton )
                                    </mat-form-field>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-6">

                                    <mat-form-field class="example-full-width">
                                        Horse Shoe -   <input matInput placeholder="Number Of Items" type="text" name="noofitems2"
                                               [(ngModel)]="cartItems2.numberOfSingleUnits" #Noofitems2="ngModel"> ( 05 units in a carton )
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Total Price " disabled type="text" ngModel name="q"
                                               [value]="calculationResponse.totalPrice">
                                    </mat-form-field>
                                </div>
                            </div>

                            <button mat-raised-button type="submit" (click)="calculatePrices()"
                                    class="btn btn-danger pull-right">Calculate Price
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>






